_site
.sass-cache
.jekyll-metadata

# Exclude private assets/images
assets/images/**/*.jpg
assets/images/**/*.png
assets/images/**/*.bmp
assets/images/**/*.psd
assets/images/**/*.tiff
assets/images/**/*.webp
assets/images/**/*.gif

/_sass/bootstrap

/.idea
/.vscode
node_modules