---
layout: default
title: Gallery
---

<div class="container-fluid">
    <div class="row" style="height: 2rem;"></div>

    <div class="row justify-content-center">
        {% for gallery in site.details %}
        <div class="col-md-3 justify-content-center">
            <div class="card mx-auto" style="width: 16rem;">
                <div class="card-body text-center">
                    <a href="{{ gallery.url | relative_url }}">
                        <img src="{{ '' | relative_url}}/assets/images/galleries/{{ gallery.name }}/{{ gallery.name }}.png" 
                            class="card-img-top pb-2" alt="{{ gallery.name }}" style="max-height: 14rem; max-width: 14rem;">
                    </a>
                    <a href="{{ gallery.url | relative_url }}">
                        <h5 class="card-title justify-content-center border-top pt-4">
                            {{ gallery.name }}
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>