---
layout: default
---

<div class="container-fluid">
    <div class="row" style="height: 6em;"></div>

    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
            <picture>
                <img src="{{ '/assets/images/frontpage.png' | relative_url }}" class="rounded-circle" alt="Avatar"
                    style="max-height: 14rem">
            </picture>
        </div>
        <div class="col-5"></div>
    </div>

    <div class="row" style="height: 9em;"></div>
</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
    <ul class="navbar-nav">
    {% for world in site.worlds %}
        <li  class="nav-item">
            <h1>
                <a href="{{ world.url | relative_url }}" class="nav-link">{{ world.name }}</a>
            </h1>
        </li>
    {% endfor %}
    </ul>
</nav>